<div class="main">
    @if (successMessage) { 
        <div class="success-message">
            <p>{{ successMessage }}</p>
        </div>
    }
    @if (users$ | async; as user) {  
        <div class="button-container">
            <button class="create-user-btn" (click)="onCreateUser()">Create User</button>
        </div>
        @if (user.data && user.data.length > 0;) {  
            @for (user of user.data; track user.id) {
                <app-user-item [user]="user" (userDeleted)="onUserDeleted($event)"/>
            }
        }
        @else {
            <p>There are no users available.</p>
        }
    }
    
    @if (errorMessage) {
        <app-error-message [errorMessage]="errorMessage" />
    }
</div>
